body {
    margin: 0;
    align-items: center;
    justify-content: center;
    padding: 0;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    background-color: #2de974;
    box-shadow: inset 0 0 20px 10px rgba(0, 0, 0, 0.5);
}  

.mainHead{ 
    position: absolute;
    left: 42%;
    top: 0%;
    display: inline-block;
    padding: 20px;
    border-radius: 25px; /* Set the border radius for a round shape */
    background-color: rgba(212, 203, 203, 0.7); 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 60px;
    text-decoration:underline;
    font-weight: 500;
    color: #9c1fd2;
    border: solid 4px black;
}

.container{ 
    align-items: center;
    justify-content: center;
    position: relative;
    display: grid;
    grid-template-columns: 350px 350px 350px 350px;
    row-gap: 60px;
    column-gap: 20px;
    margin: 4%;
    margin-top: 15%;
    /* border: solid 2px red; */
}

.item{
    height: 400px;
    width: 300px;
    align-items: center;
    justify-content: center;
    border-radius: 48px;
    background-color: #a598d1;
    text-align: center;
    border: solid 4px black;
    box-shadow: 0 0 10px 10px rgba(165,152, 209, 0.5);
}

.inputs{
    margin-top: 8%;
    border-radius: 12px;
    border: solid 3px rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding-left: 15px;
    background: none;
}

::placeholder{
    color: black;
}

.search{
    margin-top: 5%;
    border-radius: 10px;
    border: solid 3px black;
    font-size: 20px;
    background: none;
    cursor:pointer;

}

.weather-img{
    padding-top: 30px;
    align-items: center;
}

.temp{
    margin-top: 12px ;
    font-size: 40px;
    align-items: center;
    text-decoration: underline;
}

.city{
    margin-top: -30px;
    font-size: 20px;
}

.extras{
    display: flex;
}

.humid{
    margin-top: 10%;
    margin-left: 10%;
}

.humidText{
    margin-top: 10%;
    margin-left: 2%;
    font-size: 25px;
    writing-mode: vertical-lr;
    text-decoration: underline;
    
}

.windSpeed{
    margin-top: 8%;
    margin-left: 18%;
}

.windText{
    margin-top: 8%;
    margin-left: 2%;
    writing-mode: vertical-lr;
    text-decoration: underline;
}

.add-more-but{
    height: 400px;
    width: 300px;
    align-items: center;
    justify-content: center;
    border-radius: 48px;
    text-align: center;
    border: solid 4px black;

}

.add-mor{
    background: none;
    border: none;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
}
.add-more{
    margin-top: 15%;
    text-align: center;
    cursor: pointer;
    background:none;
    border: none;

}
.add-mor1{
    margin-top: 15%;
    text-align: center;
    cursor: pointer;
    background:none;
    border: none;

}
.add-mor2{
    margin-top: 15%;
    text-align: center;
    cursor: pointer;
    background:none;
    border: none;

}
  